.comments>div {
    border: solid black;
    border-width: 2px 4px 4px 1px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #F8F4F1;
    border-radius: 15px;
    display: flex;
    flex-direction: column; 
}

.comments>div>.user-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.comments>div>.user-info>.left-side {
    display: flex;
    align-items: center;
    gap: 10px;
}

.comments>div>p {
    text-align: left; 
    margin-top: 10px;
    margin-left: 70px;
}

.comments>div>.user-info>.right-side {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 15px;
}

.menu-icon {
    cursor: pointer;
    width: 30px; 
    height: 30px; 
    border-radius: 50%; 
    background-color: #ccc; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-icon:hover {
    background-color: #ddd;
}

.menu-icon svg {
    color: #333; 
    font-size: 16px; 
}

.replies {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 40px;
    background-color: #f9f6f3;
}

.ReplyBox {
    width: 100%;
    margin-top: 20px;
}

.ReplyForm {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-radius: 20px;
    border: solid black;
    border-width: 1px 2px 4px 2px;
    background-color: white;
}

.ReplyForm textarea {
    width: 80%;
    height: 30px;
    resize: none;
    padding: 10px;
    border-radius: 20px;
}

.ReplyForm button {
    width: 15%;
    background-color: #F7CB46;
    color: black;
    padding: 1px 15px;
    cursor: pointer;
    border-radius: 20px;
    white-space: nowrap;
    height: 50px;
    line-height: 30px;
    border: none;
}
