.header {
    background-color: #F7CB46;
    padding: 20px;
    display: flex;
    align-items: center;
    border: solid black;
    border-width: 0 0 2px 0;
    position: fixed; 
    top: 0; 
    z-index: 1000;
    width: 100%;
  }
  
  .icon {
    width: 40px; 
    height: 40px; 
    margin-right: 10px; 
    border-radius: 50%;
  }
  