.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 0 30px;
    max-width: 800px;
}

.Search {
    width: 100%;
    margin-bottom: 20px;
}

.Search form {
    display: flex;
    justify-content: space-between;
}

.Search input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
}

.Search button {
    padding: 10px 20px;
    background-color: #F7CB46;
    color: #333;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.Search button:hover {
    background-color: #f8d053;
}

.comments {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow-x: hidden; 
    overflow-y: auto;
}

.post {
    width: 100%;
    margin-top: 20px;
    position: sticky;
    bottom: 1px; 
    z-index: 100;
}

.postForm {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-radius: 20px;
    border: solid black;
    border-width: 1px 2px 4px 2px;
    background-color: white;
}

.postForm textarea {
    width: 80%;
    height: 30px;
    resize: none;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #F7CB46;
}

.postForm button {
    width: 15%;
    background-color: #F7CB46;
    color: black;
    padding: 1px 15px;
    cursor: pointer;
    border-radius: 20px;
    white-space: nowrap;
    height: 50px;
    line-height: 30px;
    border: none;
}
