.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 0 30px;
    max-width: 800px;
}

.Search {
    width: 100%;
    margin-bottom: 20px;
}

.Search form {
    display: flex;
    justify-content: space-between;
}

.Search input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
}

.Search button {
    padding: 10px 20px;
    background-color: #F7CB46;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.comments {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow-x: hidden; 
    overflow-y: auto;
    /* min-height: 100px; */
}

.comments>div {
    border: solid black;
    border-width: 2px 4px 4px 1px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #F8F4F1;
    border-radius: 15px;
    display: flex;
    flex-direction: column; 
}

.comments>div>.user-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.comments>div>.user-info>.left-side {
    display: flex;
    align-items: center;
}

.comments>div>.user-info>.right-side {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 15px;
}

.menu-icon {
    cursor: pointer;
    width: 30px; 
    height: 30px; 
    border-radius: 50%; 
    background-color: #ccc; 
    display: flex;
    align-items: center;
    justify-content: center;
}

  
  .menu-icon:hover {
    background-color: #ddd;
  }
  
  .menu-icon svg {
    color: #333; 
    font-size: 16px; 
  }

.replies {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 40px;
}

.replies>div {
    border: solid black;
    border-width: 2px 4px 4px 1px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #F8F4F1;
    border-radius: 15px;
    display: flex;
    flex-direction: column; 
}

.replies>div>.user-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.replies>div>.user-info>.left-side {
    display: flex;
    align-items: center;
}

.replies>div>.user-info>.right-side {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 15px;
}

.post {
    width: 100%;
    margin-top: 20px;
    position: sticky;
    bottom: 1px; 
    z-index: 100;
}

.postForm {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-radius: 20px;
    border: solid black;
    border-width: 1px 2px 4px 2px;
    background-color: white;
}

.postForm textarea {
    width: 80%;
    height: 30px;
    resize: none;
    padding: 10px;
    border-radius: 20px;
}

.postForm button {
    width: 15%;
    background-color: #F7CB46;
    color: black;
    padding: 1px 15px;
    cursor: pointer;
    border-radius: 20px;
    white-space: nowrap;
    height: 50px;
    line-height: 30px;
    border: none;
}
